/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Fin du CSS Reset */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/* là c'est mon job */
/*
#274046 0%, #E6DADA 100%);*/
html {
    --primary: #274046;
    --secondary: #E6DADA;
    --txtcolor: #82ffff;
    --txthover: #4e9999;
}

a {
    cursor: url('img/arrow.png'), default;
}

body {
    background-image: linear-gradient(var(--secondary) 0%, var(--primary) 100%);
    color: white;
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    font: .9em/1.2 'Syne', sans-serif;
    font-size: 120%;
}

a {
    text-decoration: none;
    color: var(--txtcolor);
    text-decoration: none;
}

a:hover {
    color: var(--txthover);
    text-decoration: none;
    cursor: pointer;
}

svg {
    height: 15px;
    fill: var(--txtcolor);
}

svg:hover {
    fill: var(--txthover);
}

a link-github {
    height: 20px;
    width: 50%;
    background-color: powderblue;
}

/*display not demander à Brayan*/
header {
    border: 4px solid var(--txthover);
    border-radius: 20px;
    padding: 18px;
    margin: 30px;
    text-align: center;
}

ul li {
    border-radius: 4px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: 10px 30px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

ul li:hover {
    background-color: var(--secondary);
    border: 2px solid var(--txtcolor);
}

/*ul li {
    border-radius: 4px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

ul:hover {
    background-color: var(--secondary);
    border: 2px solid var(--txtcolor);
}*/
section {
    border: 4px solid var(--txtcolor);
    border-radius: 20px;
    padding: 18px;
    margin: 30px;
}